.order-details-nav-page  {
    margin-bottom: 160px;
    overflow-x: hidden;
}

.od-nav-page-container {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
}

.od-nav-page-container .hero-image-container {
    display: flex;
    width: 100vw;
    height: 560px;
    background-color: #709BEE;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    box-sizing: border-box;
    overflow: hidden;
}

.od-nav-page-container .hero-image-container img {
    height:864px;
    width: auto;
}




