.subsection-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.subsection-container h6.semibold {
    text-transform: uppercase;

}

.semibold {
    font-weight: 600;
}