.project-carousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown > h5 {
    font-weight: 600;
    text-transform: uppercase;
}

.icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.caret {
    height: 6px;
}

.carousel-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
