.project-overview-section {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    padding: 96px;
    gap: 32px;
    background-color: #FCF8F3;
    box-sizing: border-box;
}

.project-overview-content-container {
    grid-column: 4 / -1; 
}

h1.header {
    font-family: 'Samudera';
    font-weight: 100;
    text-transform: lowercase;
    grid-column: 1 / -1; 
    padding-bottom: 40px;
}

.project-overview-section .main-content-container {
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.main-content-container .paragraph-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.read-only-container {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: flex-start;
    gap: 80px;
}

