.project-overview-section {
    display: flex;
    width: 100vw;
    padding: 96px 96px 112px 96px;
    align-items: flex-start;
    gap: 64px;
    flex-shrink: 0;

    background-color: #FCF8F3;
}

.project-overview-content-container {
    max-width: 992px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

h1.header {
    font-family: 'Samudera';
    font-weight: 100;
    text-transform: lowercase;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.main-content-container .paragraph-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.read-only-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
}