/* harvest layout */
.harvest-grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 24px;
}

.harvest-grid-layout > img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.harvest-grid-layout > .full-width {
  grid-column: span 2;
}


/* hive layout & od-nav */
.hive-grid-layout, .od-nav-grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 24px;
}

.hive-grid-layout, .od-nav-grid-layout > img {
  width: 100%;
  height: auto;
}

.hive-grid-layout, .od-nav-grid-layout > .full-width {
  grid-column: span 2;
}
  
div.yellowBG {
  display: flex;
  padding: 128px 112px 128px 112px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 2px;
  background: #FFC961;
}

/* booknook */
.row-grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
}

.row-grid-layout > img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.row-grid-layout > .full-width {
  grid-column: span 2;
  border-radius: 2px;
}

/* nomad */
.design-grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
}

.design-grid-layout img {
  width: 70%;
}

.design-grid-layout .full-width {
  grid-column: span 2;
  border-radius: 2px;
  overflow: hidden;
}

.sidebar-and-img-container {
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
  min-height: 480px;
}

.sidebar-and-img-container > div.centered-asset {
  flex: 1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.sidebar-and-img-container > div.left-asset {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Center horizontally */
  align-items: flex-end; /* Center vertically */
}


.blue-bg {
  background-color: #D0E0FF;
}

.lime-bg {
  background-color: #F7F7D9;
}

.purple-bg {
  background-color: #CBD1EA;
}

.yellow-bg {
  background-color: #FFF0A4;
}

.centered-asset img, .left-asset img {
  width: 100%;
}

.sidebar {
  display: flex;
  width: 25%;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  background-color: #FCF8F3;
}

.sidebar-description {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.descriptive-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.nomad > img {
  border-radius: 2px;
}

/* pest control layout */
.pest-control-grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  border-radius: 2px;
  overflow: hidden;
}

.pest-control-grid-layout > img {
  max-width: 100%;
  height: auto;
}

.pest-control-grid-layout > .full-width {
  grid-column: span 2;
  
}