.homepage-container {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 112px;
    padding: 112px 0px 96px 96px;
    box-sizing: border-box;
    /* overflow: hidden;
    overflow-y: auto; */
}

div.bio {
    max-width: 1120px;
    padding-right: 96px;
}

h2.jobs, h2.personal-statement {
    font-family: 'Samudera', serif;
}
