.od-ed-page  {
    background-color: #D4D4FA;
    margin-bottom: 160px;
    overflow-x: hidden;
}

.od-ed-page-container {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #D4D4FA;
}

.od-ed-page-container .hero-image-container {
    display: flex;
    width: 100vw;
    height: 560px;
    background-color: #D4D4FA;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
    overflow: hidden;
}

.od-ed-page-container > .hero-image-container > img {
    margin-bottom: -176px;
    width: auto;
    height: 720px;
    /* transition: margin 0.3s ease;  */
}

/* Media query for smaller screens */
@media (max-width: 1440px) {
    .od-ed-page-container .hero-image-container img {
        margin-bottom: -112px;
        margin-right: -48px;
        height: 640px;
    }
}

@media (max-width: 1024px) {
    .od-ed-page-container .hero-image-container img {
        margin-bottom: -32px;
        margin-right: -112px;
        height: 560px; 
    }
}

