.project-link {
    text-decoration: none; 
  }

.project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    text-decoration: none;
}

.project-img-container {
  width: 356px;
  height: 296px;
  border-radius: 2px;
  overflow: hidden;
}

.chip-container {
    position: absolute;
    z-index: 1;
    padding: 12px 0px 0px 12px;

}

.project-img-container img {
    transition: transform 0.3s;
    width: 100%;
    height: 100%;
  }
  
.project-card:hover .project-img-container img {
    transform: scale(1.2); 
}

.project-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.project-card-title {
    font-weight: 500;
    text-transform: lowercase;
    align-self: stretch;
}

.project-category-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.project-category-group > p.caption {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: var(--Tuatara-600);
    text-transform: uppercase;
}

.vertical-rule-12px {
    height: 12px;
    border-right: 1px var(--Tuatara-300) solid;
}

