.hive-page  {
    background-color: #FFD2B9;
    margin-bottom: 160px;
    overflow-x: hidden;
}

.hive-page-container {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #FFD2B9;
}

.hive-page-container > .hero-image-container {
    display: inline-flex;
    height: 560px;
    padding: 56px 108px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.hive-page-container > .hero-image-container > img {
    width: 1086px;
    flex-shrink: 0;
}

.hive-code-divider-section {
    background-color: #AD97DB;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    height: 400px;
    padding: 0px, 96px 0px 96px;
    overflow: hidden;
}

.hive-code-divider-section > img {
    top: -240px;
    width: 100%;
}